.footer {
    font-family: Arial, Helvetica, Garuda, sans-serif;
    color: #8a8a8a;
    font-size: 12px;
    margin: 6px 0;
    overflow: hidden;
}
.footer_logo {
    float: right;
}
.footer_privacy-policy {
    text-align: left;
    float: left;
    margin-top: 10px;
}
.footer_privacy-policy a {
    color: #8a8a8a;
}