.header {
    font-family: 'BenchNine', sans;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #8a8a8a;
    margin: 18px 0 14px 0;
}
.header_footer {
    padding: 15px 9px 13px 9px;
    text-align: center;
    background-color: #fff;
    border-bottom: 6px solid #8a8a8a;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 18px;
}
.header_buttons {
    margin-bottom: 18px;
}
.header_btn {
    background: #fff;
    text-transform: uppercase;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    line-height: 22px;
    color: #8a8a8a;
    border-radius: 0;
}
.btn-primary {
    background: #2a9719;
    border-color: #2a9719;
    color: #fff;
}
.btn-default:hover {
    color: #8a8a8a;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.header_course {
    border-left: 6px solid #8a8a8a;
    background: #fff;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
}
.header_course-text {
    padding: 15px 9px 13px 9px;
    height: 50px;
}