.main-container {
    padding: 10px 0;
    border-top: 1px solid #8a8a8a;
    border-bottom: 1px solid #8a8a8a;
}
.table-responsive {
    border: none !important;
}
.table-shadow {
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
}
table {
    margin-bottom: 0;
}
thead tr {
    background: #8a8a8a;
    color: #fff;
}
thead tr th {
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
thead tr th, tbody tr td {
    border: 1px solid #818081;
    border-left: none;
    text-align: center;
}
/* tbody tr {
    background: #fff;
} */
/* tbody tr:nth-child(even) {
    background: #d1d1d1;
} */
thead tr th, tbody tr td {
    border-right: 1px solid #818081;
    text-align: center;
    border-top: 0;
    border-bottom: 0;
}
td.name {
    padding: 0;
}
td.name a {
    display: block;
    padding: 12px;
}
thead tr th:last-child, tbody tr td:last-child {
    border-right: none;
}
a {
    color: #2a9719;
    text-decoration: none;
}
a:hover, a:focus {
    color: #18550e;
    text-decoration: underline;
}
.negative-value-color {
    color: red;
}