<div class="header">
  <div class="header_footer">
    <span class="header_footer-text">{{name + " - " + startDate + " - " + endDate}}</span>
  </div>
  <div class="header_buttons">
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-3 mb-md-0"><button type="button" class="btn header_btn btn-block btn-primary">Pairings</button></div>
      <div class="col-sm-12 col-md-6"><button type="button" [routerLink]="['/scoring', id_tournament]" class="btn header_btn btn-block btn-default">Scoring - Results</button></div>
    </div>
  </div>
  <div class="header_course">
    <div class="row text-center text-sm-left">
      <div class="header_course-text col-sm-9 col-lg-10">
        <span>{{roundCourseName}}</span>
      </div>
      <div class="header_course-select col-sm-3 col-lg-2 ml-3 ml-sm-0">
        <app-custom-select [optionsArray]="selectOptions" [selectValueSelected]="selectValueSelected" (getValue)=getRoundInfo($event)></app-custom-select>
      </div>
    </div>
  </div>
</div>