@font-face {
    font-family: 'BenchNine';
      src: url('./fonts/BenchNine-Regular.eot');
      src: url('./fonts/BenchNine-Regular.eot?#iefix') format('embedded-opentype'),
           url('./fonts/BenchNine-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
  }
  
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #e5e7e6;
}
tbody tr {
  background: #fff;
}
tbody tr:nth-child(even) {
  background: #d1d1d1;
}