<div class="main-container">
  <div class="leadership">
    <div class="leadership_header">
      <div class="row">
        <div class="col-3 col-md-2">Time</div>
        <div class="col-2 col-md-1">Hole</div>
        <div class="col-7 col-md-9">Player</div>
      </div>
    </div>
    <div class="leadership_info" *ngFor="let teeTime of teeTimes">
      <div class="row">
          <div class="col-3 col-md-2">{{teeTime.dateTime}}</div>
          <div class="col-2 col-md-1">{{teeTime.hole}}</div>
          <div class="col-7 col-md-9 player-names">
            <div class="leadership_player-name" *ngFor="let player of teeTime.playersList">{{player.firstName}} {{player.lastName}}</div>
          </div>
      </div>
    </div>
  </div>
</div>